@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    overflow-x: hidden;
}

p {
  line-height: 35px !important;
}
